<div>
  <% form_for(:job, :html => {:class => "job"}) do |f| %>
    <%= f.label :worker_class %><br />
    <%= f.text_field :worker_class, :class => "worker-class" %><br />
    <%= f.label :worker_method %><br />
    <%= f.text_field :worker_method, :class => "worker-method" %><br />
    <%= f.label :args, "Args - each line (including empty) is interpreted as a string argument" %><br />
    <%= f.text_area :args %><br />
    <%= f.submit "Enqueue", :class => "button" %><br />
  <% end %>
</div>

<hr style="visibility:hidden; margin: 20px auto" />

<table class="jobs">
  <% @jobs.each do |job| %>
    <tr class="job <%= cycle(:odd, :even) %>" id="<%= dom_id(job) %>">
    <%= render :partial => "job", :locals => {:job => job} %>
    </tr>
    <%= periodically_call_remote(
      :url       => admin_job_path(job), 
      :method    => "get", 
      :interval  => 5, 
      :condition => "/^(running|pending|stopping)$/.match(job_state_#{dom_id(job)})")
    %>  
  <% end %>
</table>
